* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.eunji h1 {
  direction: rt1;
  width:33%
}
.eunji img {
  height:300px;
  line-height:50px;
  padding:20px;
  border:5px #ffdead solid;
  margin-right:10px;
  float:left;
}
.eunji p {
  font-family: "Segoe UI","微軟正黑體",sans-serif;
  font-size: 1.5rem;
  float: left;
  width:400px;
  line-height:50px;
  padding:20px;
  border:5px #b8860b solid;
}
.jaehee h1 {
  direction: rt1;
  width:33%;
}
.jaehee img {
  height: 300px;
  line-height:50px;
  padding:20px;
  border:5px #ffdead solid;
  margin-right:10px;
  float:left;
}
.jaehee p {
  font-family: "Segoe UI","微軟正黑體",sans-serif;
  font-size: 1.5rem;
  width:400px;
  line-height:50px;
  padding:20px;
  border:5px #b8860b solid;
  float:left;
}
.experience h1 {
  width:25%;
}
.experience p {
  font-family: "Segoe UI","微軟正黑體",sans-serif;
  font-size: 1.5rem;
  width:400px;
  line-height:50px;
  padding:20px;
  border:5px #b8860b solid;
  float:left;
}
