* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.eunji h1 {
  direction: rt1;
}
.eunji img {
  width: 28%;
}
.eunji p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
}
.jaehee h1 {
  direction: rt1;
}
.jaehee img {
  width: 28%;
}
.jaehee p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
}
